{% extends 'base.html' %}


{% block content %}
    <form action="" method=post class="form-horizontal">

      <h2>{{ ex.title }}</h2>

      <img src="{{ url_for('static', filename='Ex' + id + '.jpg') }}" alt="Picture" style="width:30%" >
      <hr>

    <div class="span8 offset2 text-left">
     <h5>
      <p>{{ ex.text|safe }}</p>
     </h5>
    <br>
      <h3>Format des données</h3>
        <div>
          <span class="badge badge-success">Entrée</span>
        </div>
        <h5>
         <p>{{ ex.entree|safe }}</p>
        </h5>
        <div>
          <span class="badge badge-warning">Sortie</span>
        </div>
        <h5>
          <p>{{ ex.sortie|safe }}</p>
        </h5>
        <br>

        <a href="{{ url_for('static', filename='Ex' + id + '.zip') }}">
         <div>
          <span class="badge badge-primary">Téléchargez des fichiers d'exemple d'ici!</span>
         </div>
        </a>
      <br>

          <h5>
          {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
          {% endwith %}
          </h5>
          <p>
           <h5>Ta réponse:</h5>
           <input type="text" id="solution" name="solution" class="input-xlarge"
            placeholder="Enter your response" value="{{ request.form.solution }}"
            required>
          </p>

          <button type="submit" class="btn btn-success">Try it!</button>

          <p>
          <h5>Ton code:</h5>

          <textarea type="text" id="code" name="code" class="input-xlarge" rows="25" style="min-width: 100%"
            placeholder="Copy your code here" value="{{ request.form.code }}"
            required></textarea>

          </p>
        </div>
    </form>




{% endblock %}