{% extends 'base.html' %}


{% block content %}
    <form action="" method=post class="form-horizontal">

      <h2>{{ ex.title }}</h2>

      <img src="{{ url_for('static', filename='Ex' + id + '.jpg') }}" alt="Picture" style="width:30%" >
      <hr>

    <div class="span8 offset2 text-left">
      <p>{{ ex.text|safe }}</p>

    <br>
      <h3>Format des données</h3>
        <div>
          <span class="badge badge-success">Entrée</span>
        </div>
        <p>{{ ex.entree|safe }}</p>
        <div>
          <span class="badge badge-warning">Sortie</span>
        </div>
        <p>{{ ex.sortie|safe }}</p>
      <br>

      <a href="{{ url_for('static', filename='Ex' + id + '.zip') }}">
        <div>
          <span class="badge badge-primary">Téléchargez des fichiers d'exemple d'ici!</span>
        </div>
      </a>
      <br>

      <div class="controls">
          <input type="solution" id="solution" name="solution" class="input-xlarge"
            placeholder="Enter your response" value="{{ request.form.solution }}"
            required>
                    <button type="submit" class="btn btn-success">Try it!</button>

                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
      </div>
     </div>
    </form>




{% endblock %}