{% extends 'base.html' %}

{% block content %}

  <form action="" method=post class="form-horizontal">
    <div class="control-group">
        <div class="controls">
        <h4>Sign up for the competition here</h4>
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
        </div>
    </div>
  </form>
{% endblock content %}